{"recorded_with": "betamax/0.5.1", "http_interactions": [{"response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "\n"}, "headers": {"Content-Type": ["text/plain;charset=UTF-8"]}, "url": "http://scholarometer.indiana.edu/cgi-bin/indexu.cgi?func=arrecords&expr=zzzzzzzzzzzzzzzzzzzzzzzzzz&ver=4.1.0"}, "request": {"method": "POST", "uri": "http://scholarometer.indiana.edu/cgi-bin/indexu.cgi?func=arrecords&expr=zzzzzzzzzzzzzzzzzzzzzzzzzz&ver=4.1.0", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Content-Type": ["text/plain;charset=UTF-8"]}}, "recorded_at": "2016-02-08T23:20:03"}, {"response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "[{\"publisher\": \"None\",\"urlAtPublisher\": \"/citations?view_op=view_citation&hl=en&user=SA-2DGsAAAAJ&pagesize=100&citation_for_view=SA-2DGsAAAAJ:wSy_KLzO7YEC\",\"timesCited\": \"3187\",\"publication\": \"None\",\"title\": \"Is it an Agent, or just a Program?: A Taxonomy for Autonomous Agents\",\"gsRank\": \"1\",\"gsId\": \"-1\",\"authors\": \"S Franklin, A Graesser\",\"pubYear\": \"1996\"}, {\"publisher\": \"None\",\"urlAtPublisher\": \"/citations?view_op=view_citation&hl=en&user=SA-2DGsAAAAJ&pagesize=100&citation_for_view=SA-2DGsAAAAJ:u5HHmVD_uO8C\",\"timesCited\": \"1960\",\"publication\": \"None\",\"title\": \"Constructing inferences during narrative text comprehension.\",\"gsRank\": \"2\",\"gsId\": \"-1\",\"authors\": \"AC Graesser, M Singer, T Trabasso\",\"pubYear\": \"1994\"}, {\"publisher\": \"None\",\"urlAtPublisher\": \"/citations?view_op=view_citation&hl=en&us[...]
